@model OpenIdDemo.Models.AuthenticationModel

@{
    ViewBag.Title = "Login";
}

<div id="openid-wrap">
    <form id="openid-form" method="post" action="@{Url.Action("Authentication", "Authenticate");}">
        <p>Sign in using one of the providers below.</p>
        <div id="openid-providers">
            <ul>
                <li id="openid">OpenId</li>
                <li id="myopenid">MyOpenId</li>
                <li id="twitter">Twitter</li>
                <li id="google">Google</li>
                <li id="yahoo">Yahoo</li>
            </ul>
        </div>
        <div id="other">
            <h3>Your OpendID Provider</h3>
            <input name="openIdUrl" id="openIdUrl" type="text" />
            <a id="signin">Sign In »</a>
        </div>
    </form>
</div>

<script type="text/javascript">
    var providers = {
        myopenid: { action: '@Url.Action("OpenId", "Authentication")', url: 'http://myopenid.com' },
        twitter: { action: '@Url.Action("OAuth", "Authentication")' },
        facebook: { action: '@Url.Action("OpenId", "Authentication")', url: 'http://facebook.com' },
        google: { action: '@Url.Action("OpenId", "Authentication")', url: 'http://www.google.com/accounts/o8/id' },
        yahoo: { action: '@Url.Action("OpenId", "Authentication")', url: 'http://yahoo.com' }
    };
    $("#openid").click(function () {
        toggleOther();
    });
    $("#signin").click(function () {
        $("#openid-form").submit();
    });

    $("li").not("#openid").click(function () {
        $("#other").hide(500);
        isHidden = true;
        var id = $(this).attr("id");
        var provider = providers[id];
        if (provider.action != undefined) {
            $("#openid-form").attr("action", provider.action);
        }
        if (provider.url != undefined) {
            $("#openIdUrl").val(provider.url);
        }
        $("#openid-form").submit();
    });

    var isHidden = true;
    function toggleOther() {
        if (isHidden) {
            $("#other").slideDown(500);
        } else {
            $("#other").slideUp(500);
        }
        isHidden = !isHidden;
    }

</script>